<?xml version="1.0"?>
<ruleset name="PHPCS Coding Standard for graillus/php-coding-standard">
    <description>Check the code of the sniffs in graillus/php-coding-standard.</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>

    <rule ref="lib/Graillus/ruleset.xml"/>

    <file>lib</file>
</ruleset>
